*,
*::before,
*::after {
  background-color: transparent;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right top,
    #141414,
    #141415,
    #141517,
    #141518,
    #131619,
    #121519,
    #111518,
    #101418,
    #0e1217,
    #0d1015,
    #0b0d14,
    #0a0a12
  );
}
.overflow {
  overflow: hidden;
}

/* =====================================NAVBAR===================================== */

.navlink {
  margin: 0 1rem;
  font-size: 17px;
}

.navbar {
  background-color: #000;
  justify-content: center;
  padding: 01% 20%;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.nav-link {
  color: #fff;
}
.navbar ul li a:hover {
  text-decoration: underline;
}

/*====================================== MAIN================================================= */

.introduction {
  align-items: center;
  text-align: center;
  color: white;
  padding: 1.5rem 0 3rem 0;
  position: relative;
  background-color: transparent;
  z-index: 0.5;
}
.heading {
  margin: 1rem 0 4rem 0;
}
.heading h1 {
  font-size: 64px;
  letter-spacing: 2.5px;
  font-family: "Allerta Stencil", sans-serif;
  position: absolute;
  top: 30%;
  left: 10%;
  color: #cfffdc;
}
.heading span {
  color: #cfffdc;
  font-size: 18px;
  font-family: "Alegreya SC", serif;
  letter-spacing: 8px;
  line-height: 3rem;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 16%;
}
#top-img {
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
}
.introduction p {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 30px;
  text-align: justify;
  padding: 1rem 5rem;
}
/*======================================STATISTICS================================================= */

.statistics {
  margin: 1rem 2.5rem;
  padding: 2rem;
  border-radius: 0%;
  border-style: solid;
  border-width: 0rem;
  box-shadow: 0.1rem 0rem 1rem #a0d6f8; /* offset-x | offset-y | blur-radius | color */
  background-color: black;
}
.statistics h1 {
  color: #2323e7;
  font-size: 50px;
  font-weight: 900px;
  font-family: "Rampart One", cursive;
  text-align: center;
}
.table-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
table {
  margin: 3rem auto 0 auto;
  padding: 1rem 0.1rem;
  box-shadow: 0.1rem 0rem 0.2rem #a0d6f8; /* offset-x | offset-y | blur-radius | color */
  background-color: #548cff;
  color: black;
}
.full-table {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}
.close-table {
  display: none;
}
.full-table span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

/* =========================table-1-Personal Information================== */
.t1 {
  border-style: double;
  border-radius: 1%;
  border-color: #1193e4;
}
.t1 .cell {
  padding: 0.5rem 1.5rem;
  width: 300px;
  font-size: large;
}
.t1 .t-header {
  padding: 0 0 0.4rem 0;
  font-size: 25px;
  font-family: "Slabo 27px", serif;
}

/* ==========================table-2-International Career======================== */
.t2 {
  border-style: double;
  border-radius: 1%;
  border-color: #5f9cfd;
}
.t2 .cell {
  padding: 0.5rem 1.5rem;
  width: 300px;
  font-size: large;
}
.t2 .t-header {
  padding: 0 0 0.4rem 0;
  font-size: 25px;
  font-family: "Slabo 27px", serif;
}

/* ===========================table-3-Career-Statistics======================== */
.t3 {
  border-style: double;
  border-radius: 2%;
  border-color: #5f9cfd;
}
.t3 .cell {
  padding: 1%;
  color: black;
  width: 160px;
  font-size: large;
  text-align: center;
}
.t3 .t-header {
  padding: 0 0 0.4rem 0;
  font-size: 25px;
  font-family: "Slabo 27px", serif;
}

/* ==========================table-4-International-Captain======================= */
.t4 {
  border-style: double;
  border-radius: 2%;
  border-color: #548cff;
}
.t4 .cell {
  padding: 1%;
  color: black;
  width: 130px;
  font-size: large;
  text-align: center;
}
.t4 .t-header {
  padding: 0 0 0.4rem 0;
  font-size: 25px;
  font-family: "Slabo 27px", serif;
}

/* ==============================table-5-ICC-Trophies========================= */
.t5 {
  border-style: double;
  border-radius: 2%;
  border-color: #5f9cfd;
}
.t5 .cell {
  padding: 1%;
  color: black;
  width: 200px;
  font-size: large;
  text-align: center;
}
.t5 .t-header {
  padding: 0 0 0.4rem 0;
  font-size: 25px;
  font-family: "Slabo 27px", serif;
}

/* =====================================CONTENT=================================== */

.story {
  margin: 10rem 2.5rem;
  padding: 2.5% 1% 0.02% 1%;
  border-radius: 0%;
  border-style: solid;
  border-width: 0rem;
  box-shadow: 0.1rem 0rem 0.21rem #000; /* offset-x | offset-y | blur-radius | color */
  background-color: black;
}
.story h1 {
  color: #2323e7;
  font-size: 50px;
  text-align: center;
}
#story-head {
  font-weight: 900px;
  font-family: "Rampart One", cursive;
}
.content {
  margin: 1%;
  padding: 1% 2% 1% 2%;
  text-align: justify;
  color: white;
  display: block;
}
.content h2 {
  color: white;

  font-size: 30px;
}
.content p {
  color: white;

  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 30px;
  display: inline;
}
.biography-fig {
  background-color: transparent;
  margin: 0%;
}
#early-life-img {
  margin: 1% 0% 1% 2%;
  text-align: end;
  align-content: flex-end;
  display: inline;
  float: right;
  width: 150px;
  border-radius: 50%;
}
#early-career-img {
  margin: 1% 0% 1% 2%;
  text-align: end;
  align-content: flex-end;
  display: inline;
  float: right;
  width: 250px;
  border-radius: 5%;
}
#international-career-img-1 {
  margin: 1% 2% 1% 0%;
  text-align: end;
  align-content: flex-end;
  display: inline;
  float: left;
  width: 300px;
  border-radius: 5%;
}
#international-career-img-2 {
  margin: 1% 0% 1% 2%;
  text-align: end;
  align-content: flex-end;
  display: inline;
  float: right;
  width: 300px;
  border-radius: 5%;
}
#international-career-img-3 {
  margin: 1% 2% 1% 0%;
  text-align: end;
  align-content: flex-end;
  display: inline;
  float: left;
  width: 280px;
  border-radius: 5%;
}
#international-career-img-4 {
  margin: 1% 0% 1% 2%;
  text-align: end;
  align-content: flex-end;
  display: inline;
  float: right;
  width: 500px;
  border-radius: 5%;
}
#retirement-img {
  margin: 1% 0% 1% 2%;
  text-align: end;
  align-content: flex-end;
  display: inline;
  float: right;
  width: 200px;
  border-radius: 5%;
}
#territorial-army-img {
  margin: 1% 0% 0% 2%;
  text-align: end;
  display: inline;
  float: right;
  width: 150px;
  border-radius: 5%;
}

/* =====================================RECORDS=================================== */
.records {
  margin: 10rem 2.5rem;
  padding: 2.5% 1% 0.02% 1%;
  border-radius: 0%;
  border-style: solid;
  border-width: 0rem;
  box-shadow: 0.1rem 0rem 1rem #000; /* offset-x | offset-y | blur-radius | color */
  background-color: black;
}
#records-head {
  font-weight: 900px;
  font-family: "Rampart One", cursive;
}
.records h1 {
  color: #2323e7;
  font-size: 50px;

  text-align: center;
}
.records-x {
  margin: 1%;
  padding: 1% 2% 1% 2%;
  text-align: justify;
  color: white;
  display: block;
}
.records-img {
  margin: 0% 0% 0% 2%;
  float: right;
  display: inline;
  width: 250px;
  border-radius: 5%;
}
.records-x h2 {
  color: white;
  font-size: 30px;
}
.records-ul {
  list-style-type: square;
}
.records-li {
  color: white;
  font-size: 20px;
  line-height: 30px;
}

/* =====================================AWARDS=================================== */
.awards {
  margin: 10rem 2.5rem;
  padding: 2.5% 1% 0.02% 1%;
  border-radius: 0%;
  border-style: solid;
  border-width: 0rem;
  box-shadow: 0.1rem 0rem 0.21rem #000; /* offset-x | offset-y | blur-radius | color */
  background-color: black;
}
.awards-wrapper {
  display: flex;
}
.awards-x {
  display: inline;
}
#national-honurs {
  float: right;
}
#sporting-honurs {
  float: left;
}
#awards-head {
  font-weight: 900px;
  font-family: "Rampart One", cursive;
}
.awards h1 {
  color: #2323e7;
  font-size: 50px;
  text-align: center;
}
.awards-x h2 {
  text-align: center;
  color: white;

  font-size: 30px;
}
.awards-x {
  margin: 1%;
  padding: 1% 2% 1% 2%;
  text-align: justify;
  color: white;

  display: block;
}

.awards-ul {
  list-style-type: circle;
}
.awards-li {
  color: white;
  font-size: 20px;
  line-height: 30px;
}

/* ========================IMAGE-GALLERY=============================== */

.gallery-wrapper {
  margin: 5rem -1rem;
  padding: 0.5rem 2.5rem 0 2.5rem;
  border-radius: 0%;
  border-style: solid;
  border-width: 0rem;
  box-shadow: 0.1rem 0rem 1rem #a0d6f8; /* offset-x | offset-y | blur-radius | color */
  background-color: #000;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image-gallery-head {
  text-align: center;
  font-size: 50px;
  font-family: "Rampart One", cursive;
  letter-spacing: 40px;
  margin: 5%;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-name: coloring;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}
@keyframes coloring {
  0% {
    color: black;
  }
  15% {
    color: #fffcad;
  }
  30% {
    color: #fff947;
  }
  45% {
    color: #fffed6;
  }
  60% {
    color: #1093e5;
  }
  75% {
    color: #53b6f3;
  }
  90% {
    color: #b3defa;
  }
  100% {
    color: black;
  }
}

.image-gallery figure {
  margin: 0.5%;
}
.gallery-img {
  width: 250px;
  margin: 1px 2px;
  border-radius: 0%;
  margin: 1px;
  cursor: pointer;
  transition: 0.4s;
}
.image-gallery figure img:hover {
  transform: scale(0.8) rotate(-10deg);
  transition-property: border, box-shadow, border-radius;
  border: 2px double #fff;
  box-shadow: 0.1rem 0rem 1rem #a0d6f8; /* offset-x | offset-y | blur-radius | color */
  border-radius: 2%;
}
.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 100;
}
.full-img img {
  width: 90%;
  max-width: 500px;
}
#close-img {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
#previous-img {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  background-color: #1b1b1a;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
}
#next-img {
  position: absolute;
  top: 50%;
  right: 20%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  background-color: #1b1b1a;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
}

/* =========================QUOTES=============================== */
.quotes {
  margin: 10rem 2.5rem;
  padding: 2.5% 1% 0.02% 1%;
  border-radius: 0%;
  border-style: solid;
  border-width: 0rem;
  box-shadow: 0.1rem 0rem 0.1rem #000; /* offset-x | offset-y | blur-radius | color */
  background-color: black;
}
.quotes-head {
  text-align: center;
  font-size: 50px;
  font-family: "Rampart One", cursive;
  color: #2323e7;
  letter-spacing: 2px;
  margin: 2rem 0 3rem 0;
}

.quotes dt {
  color: white;
  font-weight: 900;
  font-size: 20px;
  margin: 0% 0% 0% 1%;
}
.quotes dd {
  color: white;
  text-align: justify;
  font-size: 18px;
  font-family: "Fira Code", monospace;
  margin: 0% 2% 2% 4%;
  line-height: 20px;
  letter-spacing: 1px;
}
/* ================================FOOTER================================  */
.footer {
  background-color: #000;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  color: white;
}
.footer-div {
  margin: 40px 100px;
}
.footer-div h4 {
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 2px;
}
.social-links {
  display: flex;
}
.social-links a {
    background-color: #fff;
  width: 80px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 0 30px;
  border-radius: 50%;
  margin: 20px 20px -20px 0;
  position: relative;
  z-index: 10;
  overflow: hidden;
  transition: 0.5s;
}


.social-links a .fab {
  color: #fff;
  font-size: 25px;
  line-height: 80px;
  position: relative;
  z-index: 10;
}
.social-links a::after {
  content: "";
  width: 100%;
  height: 100%;
  top: -80px;
  left: 0;
  background-image: linear-gradient(
    to right top,
    #1f51ff,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #a0ced1,
    #bef0ec
  );
  position: absolute;
  transition: 0.5s;
}
.social-links a:hover::after {
  top: 0;
}
.social-links a:hover {
  transform: translateY(-8px);
  color: #fff;
}
.p1 {
  color: #fff;
  font-size: 14px;
  margin: 20px 0 0 0;
  letter-spacing: 2px;
}
.p3 {
  color: #fff;
  text-align: center;
  margin: 40px 0 0 0;
  font-size: 15px;
}
.p3 span img {
  width: 25px;
}

#div-btn {
  text-align: center;
  padding: 20px 0 50px 0;
  margin: 30px 0 0 0;
}
.footer-btn {
  font-size: 1.15rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #1f51ff;
  border: #1f51ff 0.25em solid;
  padding: 0.25em 1em;
  text-shadow: 0 0 0.1em hsl(0 0% 100%), 0 0 0.1em currentColor;
  box-shadow: inset 0 0 0.5em #1f51ff, 0 0 0.5em #1f51ff;
  position: relative;
  transition: background-color 100ms linear;
}
.footer-btn::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background-color: #1f51ff;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX("40deg") scale(1, 0.35);
  filter: blur(1.6em);
  opacity: 0.7;
}
.footer-btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em #1f51ff;
  opacity: 0;
  transition: opacity 100ms linear;
}
.footer-btn:hover::after,
.footer-btn:focus:after {
  opacity: 1;
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: #1f51ff;
  color: #fff;
  text-shadow: none;
}
.footer-btn:hover::before,
.footer-btn:focus:before {
  opacity: 1;
}
