
.blog-page {
    background: linear-gradient(96.3deg, #111 2%, #121212 33.84%, #1E3A8A 162.79%);
}

.blog-heading {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    position: relative;
    width: 100%;
    padding: 2.5rem 0 0 0;
    white-space: nowrap;
    z-index: 2;
}

.blog-heading h1 {    
    background: linear-gradient(to left, #6610f2, #6920e9, #6b2be0, #6d33d6, #6e3acd, #8039c5, #8f3abe, #9b3bb7, #b437ad, #c935a3, #da3797, #e83e8c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 8rem);
}

.blog-wrapper {
    margin: 0px auto;
    padding: .5rem 0px;
    max-width: 1000px;
}

.blog-posts .post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin: 2rem;
    border-radius: 5px;
    transition: var(--transition);
    cursor: pointer;
    position: relative;
}

.blog-posts .post-card::after {
    content: "";
    background: var(--white);
    margin: 2rem auto 0 auto;
    height: 2.5px;
    width: 100%;    
}

.blog-posts .post-card-title,
.post-card-description {
    color: var(--white);
}

.post-card-link {
    color: var(--dark);
}

.post-card-meta-date {
    color: var(--gray);
}

.post-card-title {
    text-align: left;
    margin: .5rem 0;
    line-height: 1;
    padding: 0;
}

.blog-posts .post-card:hover .post-card-title {
    color: var(--purple);
}

.post-card-meta-date {
    font-size: var(--fs5);
}