.project-page {
    background: linear-gradient(96.3deg, #111 2%, #121212 33.84%, #1E3A8A 162.79%);
}

.project-heading {
    display: flex;
    padding: 5rem 0 0 0;
}

.project-heading h1 {    
    background: linear-gradient(to left, #6610f2, #6920e9, #6b2be0, #6d33d6, #6e3acd, #8039c5, #8f3abe, #9b3bb7, #b437ad, #c935a3, #da3797, #e83e8c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(2rem, 5vw, 8rem);
}

.project-wrapper {
    margin: 0px auto;
    padding: 1rem;
    max-width: 1100px;
}

.project-card {
    position: relative;
    display: grid;
    gap: 0.625rem;
    grid-template-columns: repeat(12, 1fr);
    -moz-box-align: center;
    align-items: center;
    padding-top: 4rem;
}

.project-card .project-content {
    position: relative;
    grid-row: 1 / 12 ;
    grid-column: 2 / 12;
}

.project-card .project-image-block {
    transition: var(--transition);
    grid-row: 1 / 12 ;
    grid-column: 1 / -1;
    height: 100%;
    position: relative;
    z-index: 0;
    background: var(--dark);
    border: 1px solid var(--white);
}

.project-overline {
    margin: 0.625rem 0;
    color: var(--white);
    font-family: var(--ff1);
    font-size: var(--fs4);
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.project-card .project-title {
  color: var(--white);
  margin-bottom: 2px;
  text-align: center;
}

.project-card .project-title a {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    position: relative;
    transition: var(--transition);
    font-size: clamp(24px, 5vw, 28px);
    z-index: 20;
}

.project-card .project-description {
    box-shadow: 0 10px 30px -15px var(--dark);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--dark);
    color: var(--white);
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: .5px;
}

.project-card .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin: 4px 0;
    padding: 0px;
}

.project-card:nth-of-type(2n+1) .project-tech-list li {
    margin: 0px 0px 5px 20px;
}

.project-card .project-tech-list li {
    margin: 0 0.625rem 0 0;
    color: var(--white);
    font-family: var(--ff1);
    font-size: var(--fs5);
    white-space: nowrap;
}

.project-card .project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0.625rem;
    margin-left: -0.625rem;
    color: var(--dark);
}

.project-card .project-links a {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    padding: 10px;
}

.project-card .project-links a.external svg {
    width: 22px;
    aspect-ratio: 1;
    margin-top: -4px;
}

.project-card .project-links a svg {
    width: 1.25rem;
    aspect-ratio: 1;
    stroke: var(--white);    
    transition: var(--transition);
}

.project-card .project-links a svg:hover {
    transform: translateY(-.25rem);
}


.project-card figure {
    object-fit: cover;
    width: auto;
    height: 100%;
    filter: contrast(1) brightness(50%);
}

.project-card .project-image {
    bottom: 0;
    height: 100%;
    max-height: 20rem;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.project-card-list a {
    position: relative;
    z-index: 1;
}

@media (min-width: 800px) {
    
    .project-card {
        padding-top: 6.25rem;
    }

    .project-card:nth-of-type(2n+1) .project-content {
        grid-column: 7 / -1;
        text-align: right;
    }
    
    .project-card .project-content {
        position: relative;
        grid-area: 1 / 1 / -1 / 7;
    }

    .project-card:nth-of-type(2n+1) .project-image-block {
        grid-column: 1 / 8;
    }

    .project-card .project-image-block {
        transition: var(--transition);
        grid-area: 1 / 6 / -1 / -1;
        position: relative;
        z-index: 1;        
        background: transparent;
    }

    .project-card .project-title {
        margin-bottom: 1rem;
        text-align: unset;
    }
    
    .project-overline {
        color: var(--purple);
    }

    .project-card .project-description {
        padding: 1.563rem;
    }

    .project-card:nth-of-type(2n+1) .project-tech-list {
        justify-content: flex-end;
    }

    .project-card .project-tech-list {
        justify-content: flex-start;
        margin: 1rem 0px 0.625rem;
    }

    .project-card .project-tech-list li {
        color: var(--gray);
        margin: 0 1.25rem 0 0;
    }

    .project-card .project-title {
        color: var(--dark);
    }

    .project-card:nth-of-type(2n+1) .project-links {
        justify-content: flex-end;
        margin-left: 0px;
        margin-right: -10px;
    }

    .project-card .project-links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        margin-top: 0.625rem;
        margin-left: -0.625rem;
        color: var(--dark);
    }


}